:root{
  --primary-color:#f9f7fe;
  --secondary-color:#6c63ff;
  --heading-font-family:"Playfair Display" serif
  --default-font-family:"Poppins", sans-serif;
}



h1,h2,h3,
h4,h5,h6
{
    font-family:var(--heading-font-family);
    font-weight: bold;
}

.introduction{
  text-align: center;
  padding: 160px 20px;
  background-color: var(--primary-color);
}


.introduction p{
  font-family:var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
}

h1{
  font-size: 96px;
}

h2{
  font-size: 18px;
  color: #272142;
}

p{
  font-family: var(--default-font-family);
  font-size: 18px;
  text-align: center;
  color: #272142;
}

.project-description{
  padding: 120px 60px;

}

.all-info{
  font-family: var(--default-font-family);
  font-size: 64px;
}


.btn-branding{
  background:var(--secondary-color);
  color: white;
  padding: 15px 35px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;

}
.btn-branding:hover{
  background: var(--secondary-color);
  color: black;
}

.btn-box-info{
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  border-radius:4px;
  padding:12px 35px ;

}